.centralizado {
    text-align: center;
    }
h1 {
  color:darkgoldenrod;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
    }
.navbar {
  background-color: darkgoldenrod;
}
.btn {
font-family: 'Times New Roman', Times, serif;
color: darkgoldenrod;
border-color: darkgoldenrod;
}
body {
        background-color:white;
      }
h5 {
        text-align: center;
      }
h3 {
        text-align: center;
      }
.borda
      {
        border-left-color: black;
      }
.barra {
  background-color: #1A0C75;
  
}