.centralizado {
    text-align: center;
    }
h1 {
      text-align: center;
    }
body {
        background-color:darkblue;
      }
h5 {
        text-align: center;
      }
h3 {
        text-align: center;
      }
.borda
      {
        border-left-color: black;
      }